<% include common/header.ejs %>

<div class="">
    <div class="main-order-container">
        <div class="contact-form">
            <div class="form-description">
                1. Contacts
            </div>
            <div class="row">
                <div class="col-md-7">
                    <div class="form-horizontal">
                        <div class="form-group name-group">
                            <label class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" id="inputName" placeholder="Name">
                            </div>
                            <span class="help-block name-help-block" style="display:none">Enter name (no numbers and other symbols)</span>
                        </div>
                        <div class="form-group phone-group">
                            <label class="col-sm-2 control-label">Telephone</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" id="inputPhone" placeholder="+38 000 000 00 00">
                            </div>
                            <span class="help-block phone-help-block" style="display:none">Enter number starting with +380 or 0</span>
                        </div>
                        <div class="form-group address-group">
                            <label class="col-sm-2 control-label">Address</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" id="inputAddress"
                                       placeholder="Київ, вул. Григорія Сковороди, 8">
                            </div>
                            <span class="help-block address-help-block" style="display:none">Enter address for delivering pizza</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 order-summary">
                    <div class="bs-callout bs-call-out-warning">
                        <h4>Information about order</h4>
                        <p>
                            <b>Approximate time of delivery: </b>
                            <span class="order-time">unknown</span>
                        </p>

                        <p>
                            <b>Address for delivery: </b>
                            <span class="order-adress">unknown</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group next-step-wrap">
                    <div class="next-step-width">
                        <button type="button" class="btn btn-warning btn-block next-step-button">
                            Next
                            <i class="glyphicon glyphicon-chevron-right icon-white">
                            </i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div id="googleMaps" class="google-maps" style="position: relative; overflow: hidden"></div>
        <!-- місце для віджету -->
        <div id="liqpay"></div>
    </div>
</div>

<% include common/nav-top.ejs %>
<% include common/nav-side-submit.ejs %>
<% include common/footer.ejs %>