
<footer class="bottom-bar">
    <p>
        © 2020 PizzaKMA<br>
        Це проект для курсу "Програмування 2.2 JavaScript" в НаУКМА<br>
        This is a project for "ProgrammingJS" course in National university "Kyiv-Mohyla academy"
    </p>
    <p>
        Доставка не здійснюється
    </p>
</footer>


<!-- jQuery JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"> </script>

<!--Bootsrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<!--google maps-->
<script type="text/javascript"
        src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDxCLtjKcp0y7dKPkks1t2I523tlb_Vk_o">
</script>

<!--Own JavaScript -->
<script type="text/javascript"  src="Frontend/www/assets/js/main.js"> </script>
</body>
</html>