.pizza-card {
  //general elements
  background: #fff;
  margin: 1%;
  padding: 3% ;
  img {
    max-width: 250px;
    text-align: center;

  }

  h3 {
    color: @mainColor;
    background-color: @mainColor opacity;
    font-weight: 700;
  }

  h6 {
    color: @subColor;
  }

  .btn{
    background: @mainColor;
    color: #fff;
  }
  .btn:hover{
    background: #fff;
    color: @mainColor;
    border: 1px solid @mainColor ;
  }

}